@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 650px;
  border-radius: 8px;
}

.dropdown-container {
  position: absolute;
  flex-direction: row;
  width: 50vw;
  height: 100vh;
  border-radius: 8px;
  box-shadow: 6px 6px 5px #88888896;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  font-family: "Alumni Sans Pinstripe", serif;
  font-size: 90px;
  color: #52677d;
  margin: 0;
  padding-left: 10px;
}

#subheader {
  color: rgb(16, 43, 74);
  font-family: "Alumni Sans Pinstripe", serif;
  font-size: 80px;
  font-weight: lighter;
  margin: 0;
}

#and {
  font-family: "WindSong";
  font-size: 90px;
  padding: 10px 10px 0 0;
  margin: 0;
  color: #52677d;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  .dropdown-container {
    width: 100vw;
  }
}
