body {
  background-color: #eeeeee;
  margin: 0;
  font-family: "Alumni Sans Pinstripe", open-sans, serif;
  overflow-x: hidden;
}

.menu-button {
  position: relative;
  width: 70px;
  height: 40px;
  margin: 10px;
}

.welcome-text {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 22px;
  }
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  font-family: "Alumni Sans Pinstripe", serif;
  font-size: 90px;
  color: rgb(16, 43, 74);
  margin: 0;
  padding-left: 10px;
}

#subheader {
  color: rgb(16, 43, 74);
  font-family: "Alumni Sans Pinstripe", serif;
  font-size: 80px;
  font-weight: lighter;
  margin: 0;
}

#and {
  font-family: "WindSong";
  font-size: 80px;
  padding: 0 10px 0 0;
  margin: 0;
  font-weight: 200;
}

#subheader {
  font-size: 60px;
  color: rgb(85, 85, 85);
}

#disney-image {
  width: 50%;
  border-radius: 8px;
}

.dropdown-container {
  position: absolute;
  flex-direction: row;
  width: 50vw;
  height: 100vh;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 6px 6px 5px #88888896;
  li {
    list-style: none;
    margin: 25px 0 15px 15px;
    a {
      text-decoration: none;
      color: rgb(43, 43, 43);
      font-size: 22px;
    }
  }
}

#home,
#wedding,
#party,
#gifts,
#speaches {
  height: 80vh;
  margin: 30px 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
}

#home {
  height: fit-content;
  align-items: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  padding-top: 0;
  width: 40vw;
  font-size: 40px;
  background-color: rgb(251, 251, 251);
  padding: 10px 60px;
  border-radius: 8px;
}

#osa {
  height: 80vh;
  margin: 20px;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  text-align: center;
}

#info {
  height: auto;
  margin: 30px 12%;
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.osa-button {
  margin-bottom: 80px;
}

.form-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 10px;
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 20px;
}

.osa-container {
  margin: 10px;
}

.osa-radiobutton {
  display: flex;
  flex-direction: row;
}

.confirmed-guests {
  margin: 20px;
}

.map-container {
  height: 400px;
}

p {
  margin: 5px;
  font-size: 22px;
}

h3 {
  font-size: 30px;
  font-family: "Windsong", serif;
}
